@import './../../../../styles/variables';

app-button {
  max-width: 225px;
  display: block;
}

.loader-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#fff, 0.75);
  display: flex;
  align-items: flex-end;

  app-loader {
    display: block;
    width: 100%;
  }
}

b {
  margin: 20px 0;
  display: block;
}

.card-panel {
  display: grid;
  grid-template-columns: 0.4fr 0.3fr 1fr 225px;
  grid-column-gap: 10px;
  align-items: start;

  .bottom-content {
    grid-column-start: 3;
    padding-left: 10px;

    p {
      font-size: $small-font;
      font-weight: 600;
      color: $dropdown-text-color;
    }
  }

  app-button {
    margin-top: 23px;
  }
}
