@import './../../../../styles/variables';

.container {
  padding: 20px 5%;

  .wrapper {
    position: relative;
    min-height: 250px;
    padding: 30px 0;
    margin-top: 32px;

    .block-title {
      margin-bottom: 20px;
    }

    .form-wrapper {
      background-color: $header-bg;
      border: 1px solid $input-border-color;
      position: relative;
      padding: 20px 20px;

      .batch-form {
        margin-top: 20px;

        .options-wrapper {
          display: flex;
          justify-content: space-around;
          margin-bottom: 20px;

          .main-options-section {
            flex-grow: 1;
            margin-right: 25px;
          }

          .secondary-options-section {
            flex-grow: 1;
            margin-left: 25px;
          }
        }

        .rules-section {
          display: flex;
          flex-direction: column;

          .add-rule-btn {
            max-width: 300px;
          }
        }

        .rule-wrapper {
          margin: 10px 0;
          padding: 10px 10px 10px 10px;
          background-color: $form-sub-item;
          border-radius: 5px;
          position: relative;
        }

        .input-field {
          &:after {
            margin-bottom: 20px;
            display: block;
            content: '';
          }
          &:last-child {
            &:after {
              margin-bottom: 0px;
            }
          }
        }

        .secondary-options-section {
          ::ng-deep app-input {
            textarea {
              min-height: 198px;
            }
          }
        }

        .control-btns {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
        }
      }
    }
  }
}
