@import './../../../../styles/variables';

.container {
  padding: 20px 5%;
  .header {
    display: flex;
    justify-content: space-between;
    .primary-btn {
      min-width: 10em;
      background: $primary-color;
      color: #fff;
    }
  }
  .nav-tabs {
    margin-top: 2em;
  }
  .content {
    margin-top: 2em;
  }
}
