@import './../../../../styles/variables';

b {
  display: block;
  margin: 20px 0;
}

.loader-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.card.incoming-balance-card {
  .card-content {
    min-height: 140px;
  }
  .card-header,
  .card-row {
    grid-template-columns: 25px 1fr 0.75fr 1fr 0.5fr 2.5fr;
  }
  .txn-status {
    width: 10px;
    height: 10px;
    align-self: center;
    justify-content: center;
    border-radius: 50%;
    &.success {
      background-color: $success-color;
    }
    &.fail {
      background-color: $error-color;
    }
    &.cancel,
    &.pending {
      background-color: $pending-color;
    }
    &.cancelled {
      background-color: $inactive-color;
    }
  }
}

app-pagination {
  display: block;
  margin-bottom: 10px;
  min-width: 145px;
}

.try-use-incoming-balance-btn {
  margin-top: 10px;
}
