@import './../../../../styles/variables';

.container {
  padding: 20px 5%;

  .headline {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #434f5d;
  }

  .wrapper {
    position: relative;
    min-height: 250px;
    padding: 30px 0;
  }

  .summary-card {
    width: fit-content;
    min-height: 160px;
    padding: 16px 24px;
    border-radius: 0.5rem;

    b {
      font-size: 18px;
      font-weight: 600;
      color: $label-color;
    }

    .balance-value {
      font-size: 60px;
      font-weight: bold;
      text-align: center;
      color: $display-text-color;
    }

    .balance {
      display: flex;
      align-items: center;

      a {
        margin-left: 20px;
        border-radius: 0.5rem;
        width: fit-content;
      }
    }
  }
}
