<b>Top-ups</b>
<app-pagination
  [pagination]="pagination"
  (next)="next()"
  (prev)="prev()"
  [mode]="1"
></app-pagination>
<div class="card topups-card">
  <div class="card-header">
    <div></div>
    <div>Transaction ID</div>
    <div>Top up method</div>
    <div>Created on</div>
    <div class="amount">Amount</div>
    <div class="amount">Wallet Balance</div>
    <div>Error message</div>
    <div>Remarks</div>
  </div>
  <div class="card-content">
    <ng-container *ngIf="pagination?.items.length !== 0; else emptyState">
      <div class="card-row" *ngFor="let transaction of pagination?.items">
        <div class="card-column middle">
          <div class="txn-status {{ transaction?.status | txnStatusCss }}"></div>
        </div>
        <a
          class="card-column main clickable"
          [routerLink]="['/payments/transactions', transaction.id]"
          target="_blank"
          >{{ transaction.id }}</a
        >
        <div class="card-column">{{ transaction | topUpMethod | titlecase }}</div>
        <div class="card-column">
          {{ transaction.createdAt | amDateFormat: 'DD MMM YYYY - hh:mmA' }}
        </div>
        <div class="card-column amount">{{ transaction.amount | myrCurrency }}</div>
        <div class="card-column amount">{{ transaction.walletBalance | myrCurrency }}</div>
        <div class="card-column" title="{{ transaction | transactionError }}">
          {{ transaction | transactionError }}
        </div>
        <div class="card-column" title="{{ transaction.message }}">{{ transaction.message }}</div>
      </div>
    </ng-container>
    <app-loader *ngIf="loading.page" type="progress"></app-loader>
  </div>
</div>
<ng-template #emptyState>
  <p *ngIf="!loading.page" class="empty-text">Customer does not have any top-ups.</p>
</ng-template>
