@import './../../../../styles/variables';

.container {
  padding: 20px 5%;
  .wrapper {
    position: relative;
    min-height: 250px;
    padding: 30px 0;
  }
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  app-searchbar {
    display: block;
    margin-bottom: 30px;
    width: 100%;
  }
}

.filter-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;

  app-pagination {
    margin-right: 10px;
    margin-top: 5px;
    min-width: 145px;
  }

  app-dropdown,
  app-datepicker {
    min-width: 130px;
    margin-right: 10px;
  }

  .flex-gap {
    flex: 1;
  }

  .input-search {
    width: 100%;
    .search-name {
      width: 49%;
      display: block;
      float: left;
    }
    .search-start-number {
      width: 49%;
      display: block;
      float: right;
    }
  }
}

.add-container {
  display: flex;
  margin-top: 10px;

  app-button {
    width: 180px;
    display: block;
  }
}

.card.terminal-card {
  .card-content {
    min-height: 140px;
  }

  .card-header,
  .card-row {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  }

  .txn-status {
    width: 10px;
    height: 10px;
    align-self: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $light-button-color;

    &.created {
      background-color: $pending-color;
    }

    &.succeeded {
      background-color: $success-color;
    }

    &.failed {
      background-color: $danger-color;
    }
  }
}
