<div class="container" [appBreadcrumbs]="breadcrumbs">
  <div class="header mb-8">
    <h4 class="title">Merchants</h4>
  </div>
  <app-message
    *ngIf="message"
    [content]="message"
    [type]="messageType"
    (close)="message = ''"
  ></app-message>
  <div class="add-container" *ngIf="roles?.hasModifier">
    <app-button css="add" class="pr-2" (click)="openAddDialog()">Add Merchant</app-button>
    <app-button
      css="download"
      style="width: auto"
      *ngIf="isPDB && roles?.hasBulk"
      (click)="openImportMerchantDialog()"
      >Import merchant external top up CSV</app-button
    >
  </div>
  <div class="filter-container" *ngIf="roles?.hasView">
    <select [(ngModel)]="selectedType" (ngModelChange)="filter()">
      <option disabled selected value="placeholder">{{ 'Select type' }}</option>
      <option *ngFor="let item of typeOptions" [ngValue]="item">
        {{ item.text }}
      </option>
    </select>
    <app-searchbar
      *ngIf="roles?.hasView"
      placeholder="Search by merchant name"
      [(ngModel)]="searchValue"
      (search$)="search()"
    ></app-searchbar>
  </div>
  <div class="wrapper">
    <ng-container *ngIf="loading.full; else anyOrEmptyResult">
      <app-loader class="big-loader" type="transparent"></app-loader>
    </ng-container>
  </div>
</div>

<ng-template #anyOrEmptyResult>
  <ng-container
    *ngIf="loading.page || pagination.items?.length !== 0; then anyResult; else noResult"
  ></ng-container>
</ng-template>

<ng-template #anyResult>
  <app-pagination
    [pagination]="pagination"
    (next)="next()"
    (prev)="prev()"
    [mode]="1"
  ></app-pagination>
  <div class="card stt-card">
    <div class="card-header">
      <div>Merchant Name</div>
      <div>Payments Enabled?</div>
      <div>Settlements Enabled?</div>
      <div>Payout Enabled?</div>
      <div>Available Balance</div>
      <div class="action">Action</div>
    </div>
    <div class="card-content">
      <div class="card-row" *ngFor="let item of pagination?.items">
        <a class="card-column main clickable" [routerLink]="['/merchants', item.merchantId]">
          {{ item.name
          }}{{ item.legalName && item.legalName !== item.name ? ' (' + item.legalName + ')' : '' }}
        </a>
        <div class="card-column">
          <div>{{ item.paymentsEnabled ? 'Yes' : 'No' }}</div>
        </div>
        <div class="card-column">
          <div>{{ item.settlementsEnabled ? 'Yes' : 'No' }}</div>
        </div>
        <div class="card-column">
          <div>{{ item.payoutEnabled ? 'Yes' : 'No' }}</div>
        </div>
        <div class="card-column">
          <div>{{ getMerchantAvailableBalance(item) | myrCurrency }}</div>
        </div>
        <div class="card-column action">
          <mat-icon *ngIf="roles?.hasAdjust" (click)="openAdjustmentMerchantDialog(item)"
            >attach_money</mat-icon
          >
          <mat-icon [routerLink]="['/merchants', item.merchantId]">settings</mat-icon>
        </div>
      </div>
    </div>
    <app-loader *ngIf="loading.page" type="progress"></app-loader>
  </div>
</ng-template>

<ng-template #noResult>
  <div class="empty-state">
    <img src="assets/images/icons/empty_result.svg" alt="empty_result" />
    <h6>No results matching your search were found.</h6>
    <ul>
      <li>Check your spelling. Are the words in your query spelled correctly?</li>
      <li>Make your search more general,. try more general terms in place of specific ones.</li>
      <li>Try your search in a different scope. Different scopes can have different results</li>
    </ul>
  </div>
</ng-template>
