@import './../../../../styles/variables';

.container {
  padding: 20px 5%;

  .headline {
    margin-bottom: 20px;
  }

  .subtitle {
    color: $display-text-color;
    margin-bottom: 10px;
  }

  .wrapper {
    position: relative;
    padding: 30px 0;
  }

  .card-panel.coming-soon {
    text-align: center;
    min-height: 100px;
    line-height: 100px;
    margin-bottom: 20px;
  }
}

.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px 20px;
  margin-bottom: 20px;

  &.col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .card-panel {
    padding: 5px 15px 20px;

    .title {
      color: $display-text-color;
    }

    .value {
      color: $label-color;
      font-weight: bold;
      text-align: center;

      &.error {
        color: $danger-color;
      }
    }
  }
}

.card {
  &.order-card {
    .card-header,
    .card-row {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &.txn-card {
    .card-header,
    .card-row {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .card-row {
    &.latest {
      background-color: $table-error;
    }
  }

  .card-content {
    min-height: 250px;
  }
}
