@import '../../../styles/variables';

:host {
  overflow: hidden;
  margin-right: 20px;
}

.file-upload-wrapper {
  display: flex;
  flex-direction: row;

  .file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .choose-file-btn-wrapper {
    flex: 0 0 auto;

    .choose-file-btn {
      border: solid 1px $light-button-color;
      line-height: 42px;
      border-radius: 4px;
      padding: 9px;
      cursor: pointer;
    }
  }

  .choose-file-name {
    flex: 1 3 auto;
    margin-left: 20px;
    line-height: 42px;
    height: 42px;
    padding: 0 10px;
    border-radius: 4px;
    vertical-align: bottom;
    min-width: 0;
    border: solid 1px $input-border-color;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
