@import './../../../../styles/variables';

.container {
  padding: 20px 5%;

  .headline {
    margin-bottom: 20px;
  }

  .wrapper {
    position: relative;
    min-height: 250px;
    padding: 30px 0;
  }

  .batch-upload-wrapper {
    position: relative;
  }
}
