@import './../../../../styles/variables';

.container {
  padding: 20px 5%;

  .headline {
    margin-bottom: 20px;
  }

  .wrapper {
    position: relative;
    min-height: 250px;
    padding: 30px 0;
  }
}

.filter-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;

  app-pagination {
    margin-right: 10px;
    margin-top: 5px;
    min-width: 145px;
  }

  app-dropdown,
  app-datepicker {
    min-width: 130px;
    margin-right: 10px;

    &[type] {
      margin-right: 0;
      margin-top: 20px;
    }
  }
  .flex-gap {
    flex: 1;
  }

  .filter-message-input {
    width: 100%;
  }
}

.card.transaction-card {
  .card-content {
    min-height: 140px;
  }

  .card-header,
  .card-row {
    grid-template-columns: 0.5fr 1.3fr 0.9fr 1fr 1fr 1fr 0.7fr 0.8fr 0.9fr;
  }

  .txn-status {
    &.success {
      color: $success-color;
    }

    &.error {
      color: $error-color;
    }

    &.fail {
      color: $danger-color;
    }

    &.cancel,
    &.pending {
      color: $pending-color;
    }

    &.cancelled {
      color: $inactive-color;
    }
  }
}

.counter-container {
  font-size: $small-font;
  color: $table-counter;
  padding-top: $dropdown-font;
  padding-right: 10px;
}

.empty-state {
  padding-top: 50px;
}

app-loader {
  display: block;
  min-height: 500px;
}
