@import './../../../../styles/variables';

.container {
  padding: 20px 5%;
  .wrapper {
    position: relative;
    min-height: 250px;
    padding: 30px 0;
  }
}

.filter-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;

  app-pagination {
    margin-right: 10px;
    margin-top: 5px;
    min-width: 145px;
  }

  app-dropdown,
  app-datepicker {
    min-width: 130px;
    margin-right: 10px;
  }

  .flex-gap {
    flex: 1;
  }

  app-dropdown {
    max-width: 300px;
  }
}

.add-container {
  display: flex;
  margin-top: 10px;

  app-button {
    width: 180px;
    display: block;
  }

  .btn-add {
    width: 210px;
  }
}

.card.terminal-card {
  .card-content {
    min-height: 140px;
  }

  .card-header,
  .card-row {
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  }
}

::ng-deep .mat-select-search-inner input {
  border: none;
}
