@import './../../../../../../styles/variables';

.container {
  padding: 20px 5%;

  .headline {
    margin-bottom: 20px;
  }

  .wrapper {
    position: relative;
    min-height: 250px;
    padding: 30px 0;
  }
}

.filter-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;

  app-pagination {
    margin-right: 10px;
    margin-top: 5px;
    min-width: 145px;
  }

  app-dropdown,
  app-datepicker {
    min-width: 130px;
    margin-right: 10px;

    &[type] {
      margin-right: 0;
      margin-top: 20px;
    }
  }
  .flex-gap {
    flex: 1;
  }

  .filter-message-input {
    width: 100%;
  }
}

.card.receivable-card {
  .card-content {
    padding-bottom: 0;
  }

  .card-header,
  .card-row {
    grid-template-columns: 25px 1fr 0.75fr 1fr 0.75fr 0.75fr 1fr 1fr 1fr 1fr;

    .center {
      text-align: center;
      padding-right: 15px;
    }
  }

  .txn-status {
    width: 10px;
    height: 10px;
    align-self: center;
    justify-content: center;
    border-radius: 50%;

    &.success {
      background-color: $success-color;
    }

    &.error {
      background-color: $error-color;
    }

    &.fail {
      background-color: $danger-color;
    }

    &.cancel,
    &.pending {
      background-color: $inactive-color;
    }

    &.processed {
      background-color: $pending-color;
    }

    &.cancelled {
      background-color: $inactive-color;
    }

    &.adjusted {
      background-color: skyblue;
    }
  }
}

.counter-container {
  font-size: $small-font;
  color: $table-counter;
  padding-top: $dropdown-font;
  padding-right: 10px;
}

.empty-state {
  padding-top: 50px;
}

app-loader {
  display: block;
  min-height: 500px;
}
