@import '../shared/customers';
@import '../../../../styles/modal';

b {
  margin: 20px 0;
  display: block;
}

.btn-add-card {
  display: inline-block;
  width: 200px;
  margin: 20px;
}

.select-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
