.block-title {
  margin: 20px 0;
}

.block-panel {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.confirm-csv-btn {
  margin-left: auto;
  flex: 0 0 auto;
}
