@import '../../../styles/variables';

b {
  margin: 20px 0;
  display: block;
}
.subtitle {
  color: #000;
}
.subject {
  color: $display-text-color;
  margin-bottom: 10px;
  font-weight: 600;
}

.txn-card {
  margin-top: 10px;
  .card-header,
  .card-row {
    grid-template-columns: 0.3fr 2fr 1.2fr 1fr 1.3fr 1.5fr 1fr;
  }

  .card-content {
    min-height: 100px;
  }

  .status {
    width: 10px;
    height: 10px;
    align-self: center;
    justify-content: center;
    border-radius: 50%;

    &.success {
      background-color: $success-color;
    }

    &.error {
      background-color: $error-color;
    }

    &.fail {
      background-color: $danger-color;
    }

    &.created,
    &.pending,
    &.authorized {
      background-color: $pending-color;
    }

    &.expired,
    &.cancelled {
      background-color: $inactive-color;
    }

    &.settled {
      background-color: $settled-color;
    }
  }

  .amount {
    text-align: center;
    padding-right: 0;
  }
}

h6 {
  color: $display-text-color;
  margin-bottom: 10px;
}
