<div>
  <h6 class="title-timeline">Timeline</h6>
</div>
<div class="card-panel panel-timeline">
  <section *ngIf="dataTimelines?.length; else templateNothingTimeLine" class="com-show-step">
    <mat-vertical-stepper class="com-vertical-step" [linear]="false" fxFill>
      <div *ngFor="let vertical of dataTimelines; let i = index;">
        <ng-template matStepperIcon="created">
          <div class="oval create"></div>
        </ng-template>
        <ng-template matStepperIcon="pending">
          <div class="oval pending"></div>
        </ng-template>
        <ng-template matStepperIcon="approved">
          <div class="oval approved"></div>
        </ng-template>
        <ng-template matStepperIcon="in-printing">
          <div class="oval in-printing"></div>
        </ng-template>
        <ng-template matStepperIcon="active">
          <div class="oval active"></div>
        </ng-template>
        <ng-template matStepperIcon="frozen">
          <div class="oval status-frozen"></div>
        </ng-template>
        <ng-template matStepperIcon="closed">
          <div class="oval status-closed"></div>
        </ng-template>

        <!-- Stepper steps go here -->
        <mat-step [completed]="false" [editable]="false" [state]="vertical.status">
          <ng-template matStepLabel>
            <div class="show-status">{{fnChangeShowName(vertical.status)}}</div>
            <div class="show-date">{{vertical.date | amDateFormat: 'DD MMM YYYY, hh:mm A'}}</div>
          </ng-template>
          <!-- <div #elReference class="created-date" [innerHTML]="vertical.date | amDateFormat: 'DD MMM YYYY, hh:mm A'"> -->
          <!-- </div> -->
        </mat-step>
      </div>
    </mat-vertical-stepper>
  </section>
</div>

<ng-template #templateNothingTimeLine>
  <div fxFill fxLayout="column" fxFlexAlign="center">
    <div class="card-body">
      <p>Oops! Nothing to see here ...!</p>
    </div>
  </div>
</ng-template>
